{{ define "content" }}
{{ .Breadcrumbs }}
<h2>{{ .Assessment.Type }}</h2>
{{ if .Assessment.Description }}
<p>{{ .Assessment.Description }}</p>
{{ end }}

<h3>{{ .Texts.Questions }}</h3>
{{ if .Questions }}
    <table class="pure-table pure-table-horizontal">
       <thead>
              <tr>
                <th>{{ .Texts.Text }}</th>
                <th>{{ .Texts.Actions }}</th>
              </tr>
       </thead> 
         <tbody>
          {{ range .Questions }}
                <tr>
                 <td>{{ .Text }}</td>
                 <td>
                    <a href="/edulab/experiments/{{ $.Experiment.PublicID }}/assessments/{{ $.Assessment.PublicID }}/questions/{{ .ID }}">{{ $.Texts.Edit }}</a>
                 </td>
                </tr>
          {{ end }}
    </table>
{{ else }}
    <p>{{ .Texts.Empty }}</p>
{{ end }}

<div class="pure-button-group">
  <a href="/edulab/experiments/{{ .Experiment.PublicID }}/assessments/{{ .Assessment.PublicID }}/questions/new" class="pure-button pure-button-primary">{{ .Texts.Add }}</a>
  <a href="/edulab/experiments/{{ .Experiment.PublicID }}/assessments/{{ .Assessment.PublicID }}/preview" class="pure-button pure-button-link">{{ .Texts.Preview }}</a>
</div>


{{ end }}