{{ define "content" }}
{{ .Breadcrumbs }}
<h2>{{ .Assessment.Type }}</h2>

<form class="pure-form pure-form-stacked" method="post" action="/experiments/{{ .Experiment.PublicID }}/assessments/{{ .Assessment.PublicID }}">
    <fieldset>
        <legend>{{ .Texts.Description }}</legend>
        <div class="pure-form-message-inline">{{ .Texts.DescriptionHelp }}</div>
        <textarea name="description" rows="5" class="pure-input-1" placeholder="{{ .Texts.DescriptionPlaceholder }}">{{ .Assessment.Description }}</textarea>
    </fieldset>
    <button type="submit" class="pure-button pure-button-primary" disabled>
      <i class="fa fa-edit"></i>{{ .Texts.Update }} ({{ .Texts.ComingSoon }})
    </button>
</form>

<h3>{{ .Texts.Questions }}</h3>
{{ if .Questions }}
    <table class="pure-table pure-table-horizontal">
       <thead>
              <tr>
                <th>{{ .Texts.Text }}</th>
                <th>{{ .Texts.Actions }}</th>
              </tr>
       </thead> 
         <tbody>
          {{ range .Questions }}
                <tr>
                 <td>{{ .Text }}</td>
                 <td>
                    <a href="/experiments/{{ $.Experiment.PublicID }}/assessments/{{ $.Assessment.PublicID }}/questions/{{ .ID }}">
                      {{ $.Texts.Edit }}
                    </a>
                 </td>
                </tr>
          {{ end }}
    </table>
{{ else }}
    <p>{{ .Texts.Empty }}</p>
{{ end }}

<div class="pure-button-group">
  <a href="/experiments/{{ .Experiment.PublicID }}/assessments/{{ .Assessment.PublicID }}/preview" class="pure-button">
    <i class="fa fa-eye"></i> {{ .Texts.Preview }}
  </a>
  <a href="/experiments/{{ .Experiment.PublicID }}/assessments/{{ .Assessment.PublicID }}/questions/new" class="pure-button pure-button-primary">
    <i class="fa fa-plus"></i> {{ .Texts.Add }}
  </a>
</div>


{{ end }}