{{ define "content" }}

<form class="pure-form pure-form-stacked" action="/edulab/assessments/" method="post">

    <input type="hidden" name="experiment_id" value="{{ .Experiment.PublicID }}">
    <input type="hidden" name="assessment_id" value="{{ .Assessment.PublicID }}">
    <input type="hidden" name="cohort_id" value="{{ .Cohort.PublicID }}">
    <input type="hidden" name="participant_access_token" value="{{ .Participant.AccessToken }}">

{{ range $i, $question := .Questions }}
    <fieldset>
    <legend>{{ markdown $question.Text }}</legend>
    <div>
        {{ range $j, $choice := $question.Choices }}
            {{ if eq $question.Type "single" }}
                <div class="pure-g pure-g-middle">
                    <div class="pure-u-2-24">
                        <input type="radio" name="{{ $question.ID }}" id="question_{{$i}}_choice_{{$j}}" value="{{$choice.ID}}" required>
                    </div>
                    <div class="pure-u-22-24">
                        <label for="question_{{$i}}_choice_{{$j}}">
                            {{markdown $choice.Text }}
                        </label>
                    </div>
                </div>
            {{ else if eq $question.Type "multiple" }}
                <div class="pure-g pure-g-middle">
                    <div class="pure-u-2-24">
                        <input type="checkbox" name="{{ $question.ID }}" id="question_{{$i}}_choice_{{$j}}" value="{{$choice.ID}}">
                    </div>
                    <div class="pure-u-22-24">
                        <label for="question_{{$i}}_choice_{{$j}}">
                            {{markdown $choice.Text }}
                        </label>
                    </div>
                </div>
            {{ end }}
        {{ end }}
        {{ if eq $question.Type "text" }}
            <textarea class="pure-input-1" name="{{ $question.ID }}" rows="5" required></textarea>
        {{ end }}
    </div>
    </fieldset>
{{ end }}

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">{{ .Texts.Submit }}</button>
    </div>
</form>

{{ end }}