{{ define "content" }}
{{ .Breadcrumbs }}
<h2>{{ .Title }}</h2>

{{ if .Cohorts }}
    <table class="pure-table pure-table-horizontal">
       <thead>
              <tr>
                <th>{{ .Texts.Name }}</th>
                <th>{{ .Texts.Actions }}</th>
              </tr>
       </thead> 
         <tbody>
          {{ range .Cohorts }}
                <tr>
                 <td>{{ .Name }}</td>
                 <td>
                    <a href="/experiments/{{ $.Experiment.PublicID }}/cohorts/{{ .PublicID }}">{{ $.Texts.Edit }}</a>
                 </td>
                </tr>
          {{ end }}
    </table>
{{ else }}
    <p>{{ .Texts.NoCohorts }}</p>
{{ end }}

<div class="pure-button-group">
  <a href="/experiments/{{ .Experiment.PublicID }}/cohorts/new" class="pure-button pure-button-primary">{{ .Texts.AddCohort }}</a>
</div>

{{ end }}
