{{ define "content" }}
{{ .Breadcrumbs }}

<h2>{{ .Title }}</h2>

<form method="post" action="/experiments/{{ .Experiment.PublicID }}/cohorts" class="pure-form pure-form-stacked">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">{{ .Texts.Name }}</label>
            <div class="pure-form-message-inline">{{ .Texts.NameHelp }}</div>
            <input type="text" name="name" id="name" required placeholder="{{ .Texts.NamePlaceholder }}" class="pure-input-1">
        </div>
        <div class="pure-control-group">
            <label for="description">{{ .Texts.Description }}</label>
            <div class="pure-form-message-inline">{{ .Texts.DescriptionHelp }}</div>
            <textarea name="description" id="description" placeholder="{{ .Texts.DescriptionPlaceholder }}" class="pure-input-1" rows="4"></textarea>
        </div>
    </fieldset>
    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">{{ .Texts.Create }}</button>
    </div>
</form>

{{ end }}