{{ define "content" }}
<div class="hero">
    <h2>{{ .Tagline }}</h2>
    <p>{{markdown .Introduction }}</p>
</div>
<nav>
    <ul>
        <li>
            <a class="pure-button" href="/experiments/new">{{ .NewExperiment }}</a>
        </li>
        <li>
            <a class="pure-button pure-button-link" href="/guide">{{ .EducatorsGuide }}</a>
        </li>
        <li>
            <a class="pure-button pure-button-link" href="/experiments">{{ .PreviousExperiments }}</a>
        </li>
    </ul>
</nav>
{{ end }}