{{ define "content" }}
{{ .Breadcrumbs }}
<h2>{{ .Texts.Title }}</h2>

{{ range $assessment := .Assessments }}
    <h3>{{ $assessment.Type }}</h3>
    {{ if eq $assessment.QuestionsCount 0 }}
        <div class="pure-warning">
            {{ $.Texts.Warning }}
        </div>
    {{ end }}

    {{ range $cohort := $.Cohorts }}
        <h4>{{ $cohort.Name }}</h4>
        <div class="pure-form">
        <input type="text" value="{{ $.Domain}}{{ $.Experiment.PublicID }}-{{ $cohort.PublicID}}-{{ $assessment.PublicID }}" readonly class="pure-input-1">
        </div>
    {{ end }}
{{ end }}

{{ end }}
