{{ define "content" }}
{{ .Breadcrumbs }}
<h2>{{ .Assessment.Type }}</h2>
{{ if .Assessment.Description }}
<p>{{ .Assessment.Description }}</p>
{{ end }}

<form class="pure-form pure-form-stacked">

{{ range $i, $question := .Questions }}
    <fieldset>
    <legend>{{ markdown $question.Prompt }}</legend>
    <div>
        {{ range $j, $choice := $question.Choices }}
            {{ if eq $question.Type "single_choice" }}
                <div class="pure-g pure-g-middle">
                    <div class="pure-u-2-24">
                        <input type="radio" name="question_{{$i}}_choice" id="question_{{$i}}_choice_{{$j}}" value="{{$choice.ID}}">
                    </div>
                    <div class="pure-u-22-24">
                        <label for="question_{{$i}}_choice_{{$j}}">
                            {{markdown $choice.Text }}
                        </label>
                    </div>
                </div>
            {{ else if eq $question.Type "multiple_choice" }}
                <div class="pure-g pure-g-middle">
                    <div class="pure-u-2-24">
                        <input type="checkbox" name="question_{{$i}}_choice[]" id="question_{{$i}}_choice_{{$j}}" value="{{$choice.ID}}">
                    </div>
                    <div class="pure-u-22-24">
                        <label for="question_{{$i}}_choice_{{$j}}[]">
                            {{markdown $choice.Text }}
                        </label>
                    </div>
                </div>
            {{ end }}
        {{ end }}
        {{ if eq $question.Type "free_form" }}
            <textarea class="pure-input-1" rows="5"></textarea>
        {{ end }}
    </div>
    </fieldset>
{{ end }}

</form>

{{ end }}